@import 'sendo-buyers-common/styles/variable.scss';
@import 'sendo-buyers-common/styles/mixin';

.fd {
  background-color: #fff4e2;
  min-height: 19rem;
  :global .panel-heading {
    background-color: #fff4e2;
  }
}
.fdSectionHeader {
  background-color: #fff4e2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: $space-medium $space-medium;
  color: $brand-primary;
}

.title {
  font-size: $font-large;
  font-weight: $font-bold;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.textViewAll {
  margin-right: 0;
}

.fdSectionHeader > span:last-child {
  margin-right: 0;
}

.countdownTimer {
  font-size: $font-medium;
  font-weight: $font-bold;
  padding-left: 0.3rem;
  :global .sd-countdown .sd-hour,
  :global .sd-countdown .sd-minute,
  :global .sd-countdown .sd-second {
    padding-top: 0.2rem;
    padding-bottom: 0rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 1px #d0021b;
  }
  :global .sd-countdown .sd-colon {
    color: $ghost;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

.textViewAll {
  margin-left: auto;
  margin-right: 0;
  font-size: $font-medium;
}

.textViewAll a {
  color: $brand-primary;
}

.caretRight {
  transform: rotateZ(90deg);
  :global .icon {
    fill: $brand-primary;
  }
}

.fdSectionContent {
  .carousel > div {
    padding: 0px;
    display: inline-flex;
    :first-child .item {
      .itemImage {
        border-left: none;
      }
    }
  }
}

/*
 *  Web custom style
 */

.fd.web {
  @extend %sd-box-shadow-1;
  .fdSectionHeader {
    min-height: 4.8rem;
  }
  :global .swiper-wrapper {
    display: flex;
    width: 100%;
    :global .flashdeal {
      width: (100% / 6.5);
      padding-left: $space-small;
      padding-right: $space-small;
    }
  }

  .textViewAll a {
    color: $brand-primary;
  }
  .caretRight {
    :global .icon {
      transform: rotateZ(90deg);
      fill: $brand-primary;
    }
  }

  .textViewAll:hover {
    > a {
      color: $brand-secondary;
    }
    :global .icon {
      fill: $brand-secondary;
    }
  }
}
