@import 'sendo-buyers-common/styles/variable.scss';
@import 'sendo-buyers-common/styles/mixin.scss';

.item {
  /* width: 100%; */
  margin-right: 0;
  text-align: center;
  height: 100%;
  .itemImage {
    background-color: #ffffff;
    position: relative;
    border-left: 1px solid #c7c7cd;
    border-top: 1px solid #c7c7cd;
    border-right: none;
    border-bottom: 1px solid #c7c7cd;
  }
  .promotionPercent {
    position: absolute;
    top: $space-small;
    right: $space-small;
  }
  .promotionIcon {
    position: relative;
  }
  .promotionIcon > span {
    position: absolute;
    color: white;
    font-size: $font-small;
    font-weight: $font-bold;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
  }
  .itemInfo {
    margin-top: $space-medium;
    margin-bottom: $space-medium;
    text-align: center;
    min-height: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;

    .finalPrice {
      margin-bottom: $space-medium;
      .current {
        padding-right: $space-medium;
        font-size: $font-medium;
        color: $brand-primary;
        font-weight: $font-bold;
        text-transform: uppercase;
      }
    }
    .fdProgressBarWrapper {
      position: relative;
    }
    .progress {
      width: 100%;
      height: 1.3rem;
      position: relative;
      background-color: #f7c287;
      border-radius: 0rem 0.6rem 0.6rem 0rem;
    }
    .bar {
      width: 0%;
      height: 1.3rem;
      background-color: #f47900;
      border-radius: 0rem 0.6rem 0.6rem 0rem;
    }
    .percent {
      position: absolute;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      top: 0;
      left: 50%;
      color: $white;
      font-size: $font-small;
      transform: translate(-50%);
    }
    .iconDeal {
      position: absolute;
      top: -0.9rem;
      left: -1.6rem;
    }
  }
}

.itemHot {
  .itemImage:before {
    content: '';
    position: absolute;
    z-index: $zindex-lv-1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
  }
  .itemInfo {
    .finalPrice {
      .current {
        color: #c7c7cd;
      }
    }
    .progress {
      background-color: #c7c7cd;
    }
    .bar {
      background-color: #c7c7cd;
    }
  }
}

/* Web style */
.item.web {
  .itemImage {
    @include thumb-nail($img: 'square');
    border-radius: $border-radius-medium;
    background-color: $white;
    border: none;

    &:hover {
      @include sd-item-hover;
    }
  }

  .imageSquare {
    @include img-square;
    border-radius: $border-radius-medium;
  }

  .itemInfo {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: $space-large;
    padding-bottom: $space-large;
    padding-left: 0;
    padding-right: 0;
    .finalPrice {
      margin-bottom: 0;
      padding-bottom: $space-medium;
      .current {
        padding-right: $space-medium;
        font-size: 1.8rem;
        color: $brand-primary;
        font-weight: $font-bold;
        text-transform: uppercase;
      }
    }
    .fdProgressBarWrapper {
      position: relative;
      padding-left: 1.8rem;
      padding-right: $space-large;
    }
    .progress {
      width: 100%;
      height: 1.7rem;
      position: relative;
      background-color: #f7c287;
      border-radius: 0rem 1.2rem 1.2rem 0rem;
    }
    .bar {
      width: 0%;
      height: 1.7rem;
      background-color: #f47900;
      border-radius: 0rem 1.2rem 1.2rem 0rem;
    }
    .percent {
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      top: 0;
      left: 50%;
      color: $white;
      font-size: $font-medium;
      transform: translate(-50%);
    }
    .iconDeal {
      position: absolute;
      top: -$space-large;
      left: -0.2rem;
    }
    :global(.icon) {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}
.itemHot.web {
  .itemImage:before {
    content: '';
    position: absolute;
    z-index: $zindex-lv-1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .itemInfo {
    .finalPrice {
      .current {
        color: #c7c7cd;
      }
    }
    .progress {
      background-color: #c7c7cd;
    }
    .bar {
      background-color: #c7c7cd;
    }
  }
}
